.navbar3{
    display: flex;
    gap: 180px;
    font-size: 150%;
}
.summary{
    font-size: 130%;
}
.footer{
    border: solid;
    height:386px;
    background-color: lightskyblue;
    border-style: hidden; 
}
.image9{
    margin-left: 90%;
    margin-bottom: 1%;
    width: 5%;
    height: 5%;  
}
.content{
    text-align: center;
    font-size: 180;
}
a{
    text-decoration: none;
    color: black;
}
#footer9{
    font-size: 30%; 
    display: flex;
    gap: 300px;
    text-align: center;
    background-color:lightskyblue;
    height: 150px;
    margin-top: 10%;
    width: 1809px;
    
 
 
 }
 .pic2{
    width:30% ;
    height: 300px;
    margin-left: 30%;
 }
@media screen and (min-width:280px) and (max-width:400px){
    .navbar3{
        display: flex;
        gap: 1px;
        font-size: 100%;
    }
    .summary{
        font-size: 20%;
    }
    .footer{
        border: solid;
        height:100px;
        background-color: lightskyblue;
        border-style: hidden; 
    }
    .image9{
        margin-left: 90%;
        margin-bottom: 1%;
        width: 5%;
        height: 5%;  
    }
    .content{
        text-align: center;
        font-size: 40%;
    }
    a{
        text-decoration: none;
        color: black;
    } 
}